* {
  box-sizing: border-box;
  margin: auto;
  max-width: 800px;
  font-family: sans-serif;
}

body {
  background: #ccc;
}

.background {
  z-index: -1;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("./assets/images/5.jpg");
  background-size: contain;
  background-position: center;
  filter: opacity(20%);
  top: 0;
  left: 0;
}

footer {
  /* padding: 1rem; */
  text-align: center;
  color: #474747;
  background: #f9f9f9;
}

footer > .thank-you {
  font-family: "Bellota Text", cursive;
  font-size: 2.6rem;
  color: #474747;
}

.main {
  background: white;
  /* padding: 1rem; */
  font-size: 1.4rem;
  text-align: end;
}

.main > .main_image img {
  width: 100%;
}

.main_image > img, .guest {
  /* padding-top: 0.6rem; */
}

.copywriter {
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
}

.guest {
  position: relative;
}

.guest_name {
  position: absolute;
  top: 21%;
  width: 100%;
  text-align: center;
  color: var(--primary-text);
  font-size: min(3.4vw, 1.8rem);
  font-family: serif;
}