* {
  box-sizing: border-box;
  margin: auto;
  max-width: 800px;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  background: white;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  max-width: 100%;
  margin: unset;
  padding: 16px;
  z-index: 999;
}

body {
  background: #ccc;
}

footer {
  padding: 48px 16px;
  text-align: center;
  color: #474747;
  background: #f9f9f9;
}

footer > .thank-you {
  font-family: "Bellota Text", cursive;
  font-size: 2.6rem;
  color: #474747;
}

.main {
  background: white;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.4rem;
  text-align: end;
  padding-top: 70px;
  padding-bottom: 40px;
}

.main > .main_image > img {
  width: 100%;
}

.main_image > img {
  margin-top: 1rem;
}

.guest_container {
  margin-bottom: 10px;
}

.guest_container .guest_title {
  font-weight: bold;
  font-style: italic;
}

.address {
  margin-top: 20px;
  margin-bottom: 20px;
}